div.title {
	font-weight: bold;
	font-size: 115%;
	color: #048;
	border-bottom: 1px solid black;
}

div#resultInfoBox {
	margin-bottom: 0.5em;
}

div#logo {
	position: absolute;
	right: 65px;
	top: 35px;
}

.floatright {
	float:right;
}

table#searchBox input {
	background: white;
	display: block;
	background-repeat: no-repeat;
	background-position: 2px center;
}

table#searchBox input.emptyWhere {
	background-image: url(/images/design/searchbox/where.png);
}

table#searchBox input.emptyWhat {
	background-image: url(/images/design/searchbox/what.png);
